<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Email 전송</title>
	<link href="css/styles.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="bg-light">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-5">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header bg-dark">
									<h3 class="text-center font-weight-light my-4 text-light">아이디 찾기</h3>
								</div>
								<div class="card-body">
									<!-- 하나의 form 태그로 변경 -->
									<form id="emailForm">
										<div class="form-group">
											<div class="form-floating mb-3 mb-md-0">
												<input class="form-control" id="email" type="email"
													placeholder="Enter your email" />
												<label for="email"> Email</label><br>
											</div>
										</div>
										</head>

										<body>

											<button class="btn btn-primary" type="submit">이메일 전송</button>
									</form>

									<div id="result"></div>
									<script>
										$(document).ready(function () {
											$('#emailForm').submit(function (event) {
												event.preventDefault(); // 폼 제출 방지

												var email = $('#email').val();

												if (email === '') {
													alert('이메일을 입력해주세요.');
													return false; // 이벤트 중지
												}

												$.ajax({
													type: 'POST',
													url: 'api/user/dispatch', // 로그인 엔드포인트 URL
													contentType: 'application/json',
													data: JSON.stringify({"email": email}),
													success: function (response) {
														console.log('이메일 전송 성공:', response);
														alert('이메일 전송 성공했습니다.')
														window.location.href = 'login';
													},
													error: function (xhr, status, error) {
														console.error('이메일 전송 실패:', error);
														document.getElementById("result").innerHTML = "이메일 전송에 실패했습니다.";
														// $('#loginError').text('로그인에 실패했습니다. 아이디와 비밀번호를 확인하세요.'); // 실패 메시지 표시
													}
												});
											});
										});
									</script>

</body>

</html>