<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<style>
		@font-face {
			font-family: 'KCC-Hanbit';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
			font-weight: normal;
			font-style: normal;
		}

		.title {
			font-family: "KCC-Hanbit", system-ui;
			font-weight: 400;
			font-style: normal;
			font-size: 50px;
			margin-top: 18px;
		}

		.breadcrumb-item {
			font-family: "Yeon Sung", system-ui;
			font-weight: 400;
			font-style: normal;
			font-size: 40px;
			margin-top: 5px;
		}
	</style>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />

	<link href="/css/styles.css" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>


	<div th:replace="nav.html :: navbar-top"></div>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav th:replace="nav.html :: navbar-side"></nav>
		</div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<div class="title" style="margin-bottom:10px;">개인사업자 대출 상품</div>

					<!-- 폼 영역 -->
					<div class="card mb-3">
						<div id="introduction1-container" class="card-body">
							<div class=" breadcrumb mb-4">
								<li class="breadcrumb-item active">우리카드 가맹점 우대 대출</li>
							</div>
							<ul>
								<li>대출종류 : 신용대출, 개인 사업자 대출, 일반/기타, 신용대출</li>
								<li>대출대상 : 사업기간 1년 이상 개인사업자(가맹점 매출대금 입금 고객)</li>
								<li>대출기간 : 최대 5년</li>
								<li>대출한도 : 최대 1억원</li>

							</ul>
							상세 내용을 확인하려면 <a
								href="https://spot.wooribank.com/pot/Dream?withyou=POLON0063&cc=c010528:c010531;c012425:c012399&PLM_PDCD=P020006565&PRD_CD=P020006565&HOST_PRD_CD=2205256000000">이
								링크</a>를 클릭하세요.<br>
						</div>
					</div>
					<div class="card mb-3">
						<div id="introduction2-container" class="card-body">
							<div class="breadcrumb mb-4">
								<li class="breadcrumb-item active"> 우리 Oh!(5)클릭 대출</li>
							</div>
							<ul>
								<li>대출종류 : 신용대출, 개인 사업자 대출, 일반/기타, 신용대출</li>
								<li>대출대상 : 사업기간 12개월 이상인 개인사업자</li>
								<li>대출기간 : 5년 이내</li>
								<li>대출한도 : 최대 3천만원(기업운전자금)</li>
							</ul>
							상세 내용을 확인하려면 <a
								href="https://spot.wooribank.com/pot/Dream?withyou=POLON0063&cc=c010528:c010531;c012425:c012399&PLM_PDCD=P020006219&PRD_CD=P020006219&HOST_PRD_CD=2205245000000">이
								링크</a>를 클릭하세요.<br>
						</div>
					</div>
					<div class="card mb-3">
						<div id="introduction3-container" class="card-body">
							<div class="breadcrumb mb-4">
								<li class="breadcrumb-item active">우리 사장님 e편한 통장 대출</li>
							</div>
							<ul>
								<li>대출종류 : 신용대출, 개인 사업자 대출, 일반/기타, 신용대출</li>
								<li>대출대상 : 개인사업자(가맹점 매출대금 입금 고객)</li>
								<li>대출기간 : 1년</li>
								<li>대출한도 : 최대 1억원(기업운전자금)</li>
							</ul>
							상세 내용을 확인하려면 <a
								href="https://spot.wooribank.com/pot/Dream?withyou=POLON0063&cc=c010528:c010531;c012425:c012399&PLM_PDCD=P020006132&PRD_CD=P020006132&HOST_PRD_CD=2275242000000">이
								링크</a>를 클릭하세요.<br>
						</div>

					</div>
					해당 링크로 접속 후 신청하시면 <strong>우대금리 혜택</strong>을 드립니다.<br><br><br><br><br>
				</div>
			</main>
			<footer th:replace="nav.html :: footer"></footer>
		</div>
			
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
				crossorigin="anonymous"></script>
			<script src="js/scripts.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
				crossorigin="anonymous"></script>

			<script src="js/datatables-simple-demo.js"></script>

</body>

</html>