<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>비밀번호 변경</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header bg-dark">
                                    <h3 class="text-center font-weight-light my-4 text-light">비밀번호 변경</h3>
                                </div>
                                <div class="card-body">
                                    <form id="passwordresetForm">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputPassword1" type="password" placeholder="Password" />
                                            <label for="inputPassword" class="text-dark">새 비밀번호 입력</label>
                                        </div>
										<div class="form-floating mb-3">
											<input class="form-control" id="inputPassword2" type="password" placeholder="Password" />
											<label for="inputPassword" class="text-dark">새 비밀번호 확인</label>
										</div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="index">처음 페이지로 돌아가기</a>
                                            <button class="btn btn-primary" type="submit">재설정</button>
                                        </div>
                                    </form>
                                    <div id="loginError" class="text-danger mt-2"></div> <!-- 실패 메시지를 표시할 공간 -->
                                </div>
                                <div class="card-footer text-center py-3 bg-dark">
                                    <div class="small text-light"><a href="register">회원가입 하시겠습니까?</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#" class="text-dark">Privacy Policy</a>
                            &middot;
                            <a href="#" class="text-dark">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#passwordresetForm').submit(function(event) {
            event.preventDefault(); // 폼 제출 방지
			
            var password1 = $('#inputPassword1').val();
            var password2 = $('#inputPassword2').val();
			
			// 세션 스토리지에서 사용자의 ID를 가져옴
			var cusId = sessionStorage.getItem('cusId');
			
			// 사용자의 ID를 출력하여 확인
			console.log("사용자의 ID:", cusId);
 
			
			if (password1 != password2) {
				alert("새 비밀번호와 새 비밀번호 확인이 일치하지 않습니다.");
				return false;
			}
			
			if (password1 === '' || password2 === '') {
				alert('모든 입력란을 채워주세요.');
				return false; // 이벤트 중지
			}
			
			var url = 'http://localhost:8080/api/user/pw';
			console.log("cusId" + cusId + "cusPw" + password1);
            $.ajax({
                type: 'POST',
                url: url, 
                contentType: 'application/json',
                data: JSON.stringify({"cusId" : cusId,  "cusPw": password1}),
                success: function(response) {
					console.log('비밀번호 재설정 가능:', response);
					console.log('전송한 데이터:', password1, password2); 
					if(response.code == 200){
						alert('비밀번호가 재설정되었습니다.');
						sessionStorage.removeItem('cusId');
						window.location.href = 'login'; 
					}
					if(response.code == 300){
						alert(response.msg);
					}
				},
				error: function(xhr, status, error) {          
					
					console.error('비밀번호 재설정이 되지 않았습니다.', xhr.responseText);
					
					alert('비밀번호 재설정 불가능합니다. 새 비밀번호를 한 번 더 확인해주세요.');
				}
            });
        });
    });
    </script>
</body>
</html>