<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>회원탈퇴</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
		
		<div>
		        <h1>회원탈퇴</h1>
		        <p>회원탈퇴를 진행하시겠습니까?</p>
		        <button id="withdrawalBtn">회원탈퇴</button>
		</div>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
		
		<script>
		       //document.addEventListener('DOMContentLoaded', function() {
		           // 회원탈퇴 링크 클릭 시 이벤트 핸들러
		         //  document.querySelector('.dropdown-item').addEventListener('click', function(event) {
		           //    event.preventDefault();
		               // JWT 토큰은 서버에서 받아온 값으로 대체해야 합니다.

			document.getElementById("withdrawalBtn").addEventListener("click", function() {
		               // 회원 탈퇴 요청을 보낼 URL
		               var url = "http://localhost:8080/api/user";
		
		               // XMLHttpRequest 객체를 사용하여 DELETE 요청을 보냄
		               var xhr = new XMLHttpRequest();
		               xhr.open('DELETE', url);
		               
		               xhr.onload = function() {
		                   if (xhr.status === 200) {
		                       console.log('회원 탈퇴 성공:', xhr.responseText);
		                       alert('회원 탈퇴가 완료되었습니다.');
							   window.location.href = '/';
		                   } else {
		                       console.error('회원 탈퇴 실패:', xhr.statusText);
		                       alert('회원 탈퇴에 실패했습니다.');
		                   }
		               };
		               xhr.onerror = function() {
		                   console.error('회원 탈퇴 요청 실패');
		               };
		               xhr.send();
		           });
		     //  });

		   </script>
	</head>
</html>