<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties"/>

    <!-- 패턴 레이아웃 정의 -->
    <conversionRule conversionWord="userId" converterClass="YourUserIdConverter"/>

    <!-- 로그 출력 형식 정의 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg, %d{yyyy-MM-dd HH:mm:ss}%n</pattern>
        </encoder>
    </appender>

    <!-- 로그 레벨 정의 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- 회원가입 이벤트에 대한 로그 설정 -->
    <logger name="com.example.CustomerController" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>
